@font-face {
  font-family: 'Lato-Hairline';
  src: url('../fontes/Lato-Hairline.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Thin';
  src: url('../fontes/Lato-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fontes/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Light';
  src: url('../fontes/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fontes/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Black';
  src: url('../fontes/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url('../fontes/Lato-Semibold.ttf') format('truetype');
}
*,
html,
body{
    font-family: 'Lato-Regular', sans-serif;
    padding: 0;
    margin: 0;
    
}
*:focus{
    outline: none;
}
li{
    list-style: none;
}
a{
    font-size: .9em;
    text-decoration: none;
    vertical-align: top;
}
form li,
div.box-atendente li{
    margin-bottom: 1.5em;
}
label{
    margin-bottom: .5em;
    display: block;
    font-size: .75em;
    text-transform: uppercase;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea{
    border: solid 1px #ccc;
    padding: .5em 1em;
    border-radius: 40px;
    float: none !important;
    display: block;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background: #FFF;
    color: #999;
}
.mensagem.ocultar {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.mensagem{
    width: 100%;
    text-align: center;
    padding: 1em 0;
    color: #FFF;
    font-weight: bold;
    font-family: 'Lato-Bold', sans-serif;
    transition: all .3s ease-out;
}
.mensagemErro{
    background-color: #FF4C4C;
}
.mensagemSucesso{
    background-color: #3EB27D;
}

.login,
.center{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: auto;
}
.login img{
    margin-bottom: 1.5em;
}
.center p,
.section-center p{
    color: #888;
    font-size: 1em;
    margin-bottom: 1em;
}
.login h1,
.center h1{
    text-transform: uppercase;
    font-family: 'Lato-Thin', sans-serif;
    color: #FF8500;
    font-weight: bold;
    line-height: 1.2em;
    text-align: left;
    margin: 0;
}
.center h1{
    text-align: left;
}
.login h1 strong{
    font-size: 1.4em;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: bold;
}
.login h3,
.center h3{
    margin-bottom: 1.5em;
    font-family: 'Lato-Thin', sans-serif;
    font-weight: bold;
    color: #888;
    text-align: left;
    font-size: 1.05em;
}
.login input[type="submit"],
.center input[type="submit"]{
    border-color: #84bd00;
    color: #84bd00;
}
h1{
    font-family: 'Lato-Light', sans-serif;
    font-weight: lighter;
    color: #999;
}
.btn,
input[type="submit"],
input[type="button"]{
    border: solid 2px #777;
    padding: .5em 1em;
    text-transform: uppercase;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    float: none !important;
    margin: 1em auto 0;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 50%;
    color: #777;
    opacity: .5;
    transition: all .2s ease-out;
}
.btn:hover,
input[type="submit"]:hover,
input[type="button"]:hover{
    opacity: 1;
}
.image{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75) ),url('../imagens/inicio.jpg') no-repeat 0 0;
    background-size: cover;
}
.btn-outline{
    background: transparent;
}

header{
    padding: 1em 2em;
    background-color: #FF8500;
}
nav{
    border-left: solid 1px #CC6A00;
    padding-left: .5em;
}
nav li{
    display: inline-block;
    margin: 0 1em;
}
nav li a{
    color: #FFF;
    font-family: 'Lato-Semibold', sans-serif;
    transition: all .3s ease-out;
    display: table;
    vertical-align: top;
}
.main{
    padding: 1em .5em;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 2em;
    box-sizing: border-box;
    background-color: #EEE;
}

.perfil{
    color: #FFF;
    text-align: right;
    float: right !important;
}
.perfil a{
   color: #7F5526;
}
.pass{
    text-align: center;
    display: block;
    margin: 3em 0;
    color: dodgerblue;
    font-size: 1em;
    opacity: .5;
    transition: all .2s ease-out;
}
.pass:hover{
    opacity: 1;
}
.main > div,
.section-center{
    float: none !important;
    margin: 0 auto;
}
.section-center{
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 4em;
    margin-bottom: 4em;
}
.section-center .border{
    border-right: solid 1px rgba(255,255,255,.1);
}
.section-center h2{
    font-family: 'Lato-Light', sans-serif;
    font-weight: bold;
    margin: 1em 0 .25em 0;
    color: #FFF;
}
.section-center p{
    font-size: 1em;
    max-width: 60%;
    margin: 0 auto;
    color: #FFF;
    font-family: 'Lato-Light', sans-serif;
    font-weight: lighter;
}
.main .gera-senha{
    margin-top: 10%;
    text-align: center;
}
.main .gera-senha h1{
    font-size: 5.5em;
    font-weight: bolder;
    color: #3EB27D;
}

table th{
    text-align: left;
    padding: 1em;
}
table td{
    padding: 1em;
}
.info{
    border-right: solid 1px #CCC;
}
.info p,
.gera-senha p{
    font-size: .85em;
    margin-bottom: .5em;
    text-transform: uppercase;
    font-weight: bold;
    color: #777;
}
p.location{
    color: #FFF;
    width: 40%;
    text-align: left;
    padding: 1em;
    background-color: #45BF3E;
    margin: 0 auto 4em;
}
p.location img{
    float: left;
    margin-right: .5em;
}
p.location-wrong{
    background-color: #FF4C4C;
}
p.alert{
    width: 75%;
    display: block;
    margin: 0 auto;
}

.info > div,
.gera-senha > div{
    margin: 0 0 2em 0;
}
.info > div h2{
    font-size: 3em;
}
.gera-senha input[type="button"]{
    background-color: transparent;
    border-color: dodgerblue;
    color: dodgerblue;
    opacity: .5;
}
.gera-senha input[type="button"].cancelar{
    border-color: #FF4C4C;
    color: #FF4C4C;
}
div.box-atendente,
div.box-cliente{
    margin-bottom: 2em;
    padding: 1em 1em 2em;
    border-bottom: solid 1px #DDD;
}
div.box-atendente .btn{
    float: right !important;
    color: dodgerblue;
    border-color: dodgerblue;
}
div.box-cliente{
    padding-bottom: 0;
    margin-bottom: 2em;
    border-bottom: none;
}
.btn.verde{
    border-color: #84bd00;
    color: #84bd00;
}
.btn.vermelho{
    border-color: #FF4C4C;
    color: #FF4C4C;
}
.btn.azul{
    border-color: dodgerblue;
    color: dodgerblue;
}
.btn-group .btn{
    display: inline-block;
    width: 30%;
    margin: 0 1em 0 0;
    padding: .5em 0;
}
.btn-group .btn:last-child{
    margin: 0;
}

@media (max-width: 450px) {
    .info{
        border: none;
    }
    .info > div{
        margin: 0 0 1em 0;
    }
}